*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg, red, gold) fixed;
}
.containerMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}




/*/// CODES ///*/
.inputCode {
    letter-spacing: 2em;
    text-indent: 2em;
}



/*/// INPUT ///*/
.containerInput {
    display: flex;
    gap: .5rem;
}
.inputField {
    font-size: 50px;
    max-width: 5rem;
    font-weight: bold;
    text-align: center;
}




/*/// MATCHES ///*/
.containerMatches {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin: 0.5em;
    flex-wrap: wrap;
    text-align: center;
}
.matchesChild {
    flex: 1;
    flex-basis: 40%;
}
.containerAnswer {
    display: flex;
    align-items: center;
    margin-top: 1em;

    opacity: 1;    
    animation: tileAppearing 3s ease-out;
}
.containerAnswers {
    display: flex;
    flex-direction: column-reverse;
}
.answerInput{
    font-weight: bold;
    font-size: 3em;
}
@keyframes tileAppearing {
    0% { opacity: 0; height: 0; }
    5% { height: max-content; }
    100% { opacity: 1; }
}

/*/// ENDING SCREEN ///*/

/* Container for ending screen elements. Gets visible when all of the three dish-inputs are locked. */
.winnerScreen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    display: block;
    cursor: default;

    top: -100vh;
    transition: transform 1s ease-in-out;
}
/* 
Class set on the ending screen container when all of the three dish-inputs are locked. 
Brings the ending screen to the page. 
*/
.screenVisible {
    transform: translateY(100vh);
}
/* Container for the button that closes the ending screen. */
.closeScreen {
    width: var(--button-pixels-double);
    height: var(--button-pixels-double);

    position: absolute;
    right: 5rem;
    top: 5rem;
    color: grey;
    cursor: pointer;
}


/*/// ENDING SCREEN: TEXT ///*/

/* Styling for the text on the top of the ending screen. */
.congratulationText {
    margin-top: 30vh;
    font-size: 3vh;
}
/* Styling for the text in the middle of the ending screen. */
.dishResult {
    margin-top: 2vh;
    font-size: 7vh;
    font-weight: 600;
}
/* Styling for the text on the bottom of the ending screen. */
.haveANiceMeal {
    font-size: 4vh;
    margin-top: 10px;
}


/*/// SOME ///*/
h3:not(:first-child) { 
    font-size: 2rem; 
    text-align: center; 
    padding-top: 2rem; 
    font-weight: 900;
    text-transform: uppercase;
}

/*/// DESKTOP VIEW ///*/
@media (min-width: 800px) {
    h3:not(:first-child) { font-size: 4rem; padding-top: 4rem; }

}