*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/*/// GENERAL ///*/
body, h3, p         { margin: 0; padding: 0; }
html                { scroll-behavior: smooth; }
a                   { text-decoration: none; color: black; }
ul                  { list-style: none; display: flex; }
img                 { width: 100%; }
.elementContainer   { padding: 0 15px; }

:root {
    --fw-bold: 900;
    --fw-light: 100;
}

.toTop {
    position: fixed;
    right: 6vw;
    bottom: 15vh;

    background-color: #00000010;
    width: 30px;
    height: 30px;
    border-radius: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    opacity: 0;
    transition: opacity .2s ease;
}
.toTop svg {
    height: 20px;
    width: 20px;
}

/*/// NAVIGARTION BAR ///*/
.menuButton { display: none; }
.menuButton svg { height: 1.5rem; width: 1.5rem;}
.padMenuArrow { 
    display: none;
    top: 50%;
    transform: translateY(-50%);
    transition: left .5s ease;
 }
.padMenuArrow svg { height: 3rem; width: 3rem; }
nav svg { width: 130px;}
nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 0px;
    visibility: hidden;
}
nav ul {
    padding: 0;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    gap: .8rem;
    font-size: 15px;
}
.navMobile {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: fixed;
    z-index: 100;

    right: 0;
    left: 0;
    bottom: 0;
    padding: .7rem;

    background-color: #121212;
    color: white;

    font-size: .8rem;
    font-weight: var(--fw-light);
    --ht-svg: 1.2rem;

    transition: left .5s ease;
}
.navMobile a    { color: white; }
.navMobile svg  { height: var(--ht-svg); width: var(--ht-svg); }
.navMobileElem  { text-align: center; }


/*/// LANDING ///*/
.gag            { position: relative; height: 85vh; overflow: hidden;}
.scribble       { 
    text-decoration: line-through; 
    padding-top: 2vh; 
    font-size: 40px; 
    color: #00000008;
    cursor: default;
}
.scribble >*    { padding-bottom: 3px;}
.statement      {
    font-size: 3rem;
    position: absolute;
    right: 2vw;
    top: 15vh;
}
.statement :first-child { height: 40px; padding-left: 5vw; }
.statement :last-child { font-size: 100px;}
#iceCream       {
    position: absolute;
    bottom: -2vh;
    left: 20vw;
    width: 100vw;
}
#arrowDown      {
    position: absolute;
    left: 15vw;
    bottom: 4vh;
    font-size: 25px;
    animation: jumpin 3s ease-in-out infinite;
}
@keyframes jumpin {
    70%     { bottom: 10vh; }
    100%    { bottom: 4vh; }
}


/*/// INTRODUCTION ///*/
.intro {
    background-color: #1C1C1C;
    color: white;
    padding-top: 10vh;
    padding-bottom: 2vh;

    --fs-intro-greeting: 18px;
    --fs-intro-heading: 40px;
    --fs-intro-description: 20px;
}
.intro a {
    color: white;
}
.greeting { padding-bottom: 2vh; }
.greeting >* { padding-bottom: 1vh; font-size: var(--fs-intro-greeting);}
.greeting :last-child { font-size: 25px;}
.card {
    background-color: #121212;
    width: 80vw;
    margin: 0 auto 2vh auto;
    text-align: center;
    padding-bottom: 2vh;
}
.card h3 { font-size: var(--fs-intro-heading); padding-top: 4vh; }
.cardDescription { 
    color: rgba(255, 255, 255, 0.8);
    font-size: var(--fs-intro-description);
    font-weight: var(--fw-light);
    padding: 1rem;
}
.cardButton {
    background-color: #AD0000;
    width: max-content;
    padding: .5rem;
    border-radius: 5px;
    margin: auto;
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-bold);
}
.cardButton svg { width: 20px; height: 30px; }


/*/// ABOUT ME ///*/
.aboutMe {
    background-color: #BA1010;
    color: white;
    padding-top: 5vh;
    font-size: 20px;
    font-weight: var(--fw-light);
}
.aboutMeAboutMe >*  { margin-bottom: 2vh; }
.aboutMeAboutMe p   { padding-left: 2vw;}
.skillsList         { padding-left: 2vw; margin-bottom: 5vh;}
.skillsList h3      { font-size: 20px; }
.skills .subHeading { padding-top: .5rem;}
.skills h3          { padding-bottom: 1vh; }
.skill { 
    background-color: #A51212;
    margin: 5px;
    padding: 15px;
    display: grid; 
    grid-template-columns: min-content max-content auto;
    font-weight: 100;

    align-items: center;
    width: calc(100% - 2vh);
    min-height: 4rem;
}
.skill :first-child { padding-right: 10px; text-align: center; }
.skill :last-child  { text-align: end; font-weight: 900; }
.icon { 
    width: 50px; 
    height: min-content; 
    font-weight: 900; 
    font-size: 30px;
}
.hireMe p           { padding: 1vh 0 4vh 2vh}


/*/// MY WORK ///*/
.myWork { 
    background-color: #F1F1F1;
    padding-top: 5vh;
    padding-bottom: 2vh;
}
.myWork h3 { font-size: 50px; text-align: center;}
.myWorkCardContainer {
    padding-top: 3vh;
    display: grid;
    grid-template-columns: auto auto;
    gap: .5rem;
}
.myWorkCard {
    background-color: white;
}
.innerContainer { position: relative; height: 10rem; overflow: hidden; }
.innerContainer h3 { 
    position: absolute; 
    color: white;
    left: 4px;
    bottom: 4px; 
    font-size: 25px;
    text-align: start;
    z-index: 2;
}
.innerContainer img { position: absolute; height: 100%; width: auto; }
.workCardRest {
    padding: .5rem;
}
.tags { padding: .5rem 0; line-height: 1.6; }
.tags >* {
    font-weight: lighter;
    font-size: 15px;

    display: inline;
    padding: .2rem;
    background-color: #A51212;
    color: white;
    border-radius: 5px;
}
.innerShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000000 5%, #00000000 50%);
    z-index: 1;
}


/*/// BRIGHT FUTURE ///*/
.brightFuture {
    position: relative;
    height: 150vh;
    overflow: hidden;
    font-size: 1.8rem;
}
.brightFuture >* { position: absolute; }
.brightFuture img { width: 40vw; }

#brightFuture   { right: 0; left: 0; text-align: center; top: 65vh; font-size: 3rem;}

#dogGIF         { display: block; width: 60vw; }
#family         { top: 3vh; left: 48vw; }
#dogs           { top: 10vh; left: 55vw; }
#love           { top: 17vh; left: 58vw; }
#friends        { top: 25vh; left: 40vw; }

#coffeeGIF      { right: 0; transform: translateX(15vw); top: 30vh; width: 70vw;}
#programming    { top: 34vh; left: 2vw; }
#web            { top: 42vh; left: 6vw; }
#design         { top: 49vh; left: 15vw; }
#game           { top: 56vh; left: 24vw; }

#dancingSVG     { top: 70vh; left: -5rem; width: 90vw; animation: jiggle 2s ease infinite; }
#guitar         { top: 77vh; left: 60vw; }
#dancing        { top: 86vh; left: 65vw; }
#singing        { top: 96vh; left: 55vw; }

#meditatingSVG  { right: 0; bottom: 15vh; width: 60vw; animation: meditate 10s ease infinite;}
#selfImprovement{ top: 105vh; right: 3vw; }
#education      { top: 115vh; right: 55vw; }
#career         { top: 125vh; right: 60vw; }

#chillSVG       { bottom: -3vh;  width: 35vw;}
#chill          { bottom: 3vh; left: 35vw; }

@keyframes jiggle {
    50% {
        left: -4rem
    }
    100% {
        left: -5rem;
    }
}
@keyframes meditate {
    30%     { bottom: 17vh; }
    50%     { bottom: 16vh; }
    60%     { bottom: 18vh; }
    100%    { bottom: 15vh; }
    
}

/*/// FOOTER ///*/
#browse a               { color: #B1B1B1; display: block; padding-bottom: .3rem;}
footer                  { background-color: #171717; color: white; }
footer p                { color: #B1B1B1; }
footer .kotiSeljanka    { font-weight: 900; padding-bottom: .5rem;}
footer .reference {
    padding: 1rem;
    border-top: 2px solid #2D2D2D;
    padding-bottom: 5rem;
}
footer .logo            { display: flex; justify-content: center;}
footer .logo svg        { width: 20rem; height: 7rem; padding-bottom: .5rem;}
footer #follow svg {
    width: 30px;
    height: 30px;
    padding-left: 0;
    fill: #B1B1B1;
}
#follow a               { margin-right: .2rem;}
.footerList             { padding: .5rem; text-align: start; }
.footerList h3          { padding-bottom: 1vh; }

.reference p    { color: #B1B1B160; font-size: 15px; }
.reference a    { color: #B1B1B160; }


/*/// ERROR PAGE ///*/
.errorMessage {
    height: 100vh;
    text-align: center;
    padding-top: 20vh;
}


/*/// PAD VIEW ///*/
@media (min-width: 600px) {
    .navMobile {
        grid-template-columns: auto;
        align-items: center;
    
        right: unset;
        top: 0;
        left: -5rem;
    }
    .padVisible { left: 0; }
    .menuButton { 
        display: block;
        position: fixed;
        left: 2rem;
        top: 2rem;
        color: black;
        z-index: 100;
    }
    .padMenuArrow { 
        display: block;
        position: fixed;

        left: -5rem;
        z-index: 100;
    }
    .padArrowVisible { left: 4.5rem; }
    footer .reference { padding-bottom: 1rem; }
    .lists { display: flex;  justify-content: flex-start;  gap: 7rem; padding-left: .5rem; }

    /*/// PAD LANDING ///*/
    .gag            { height: 95vh; }
    .scribble >*    { padding-bottom: 1px;}
    .statement      { left: 3rem; top: 8rem; }
    #iceCream       { bottom: -5rem; left: 30vw; }


    /*/// PAD INTRODUCTION ///*/
    .intro { padding-bottom: 13rem;}
    .card {
        width: 45vw;
        padding-bottom: 1.5rem;
        margin: 0 auto -10rem 2rem;
    }
    .card:nth-child(2) {
        margin-left: 50%;
        background-color: #171717;
    }
    

    /*/// PAD ABOUT ME ///*/
    .aboutMeAboutMe >*  { margin-bottom: .5rem; }
    .skillsList         { padding-left: 2vw; display: grid; grid-template-columns: 1fr 1fr;}
    .skill              { width: calc(100% - .5rem); }

    /*/// PAD MY WORK ///*/
    .innerContainer img { position: absolute; height: auto; width: auto; max-width: 100%; }


    /*/// PAD BRIGHT FUTURE ///*/
    .brightFuture   { height: 185vh; }

    #brightFuture   { top: 65vh; }

    #dogGIF         { display: block; width: 35vw; }
    #family         { top: 15vh; left: 35vw; }
    #love           { top: 28vh; left: 38vw; }
    #friends        { top: 43vh; left: 32vw; }
    #dogs           { top: 54vh; left: 15vw; }

    #coffeeGIF      { right: 0; transform: translateX(15vw); top: 30vh; width: 40vw;}
    #programming    { top: 20vh; left: 70vw; }
    #web            { top: 32vh; left: 58vw; }
    #design         { top: 46vh; left: 55vw; }
    #game           { top: 58vh; left: 60vw; }

    #dancingSVG     { top: 75vh; left: -5rem; width: 60vw; }
    #guitar         { top: 85vh; left: 50vw; }
    #dancing        { top: 100vh; left: 55vw; }
    #singing        { top: 115vh; left: 45vw; }

    #meditatingSVG  { right: 0; bottom: 15vh; width: 25vw;}
    #selfImprovement{ top: 125vh; right: 3vw; }
    #education      { top: 140vh; right: 25vw; }
    #career         { top: 155vh; right: 30vw; }

    #chillSVG       { bottom: -2rem;  width: 30vw;}
    #chill          { bottom: 3vh; left: 13rem; }

    /*/// PAD FOOTER ///*/
    footer .logo svg        { padding-bottom: 1rem;}
}

/*/// DESKTOP VIEW ///*/
@media (min-width: 800px) {
    /*/// DESKTOP NAVIGARTION BAR ///*/
    .menuButton     { display: none; }
    .padMenuArrow   { display: none; }
    nav svg         { width: 200px;}
    nav             { height: 90px; visibility: unset; }
    nav ul          { gap: 1.5rem; font-size: 22px; }
    .navMobile      { display: none; }


    /*/// DESKTOP LANDING ///*/
    .gag            { position: relative; height: 85vh; overflow: hidden;}
    .scribble >*    { padding-bottom: 3px;}
    .statement      {
        font-size: 5rem;
        top: 38vh;
        z-index: 1;
    }
    .statement :first-child { height: 20px; }
    .statement :last-child { font-size: 12rem; }
    #iceCream       { bottom: -3rem; }


    /*/// DESKTOP INTRODUCTION ///*/
    .intro { padding-bottom: 4rem;}
    .cards { display: flex; height: max-content;}
    .card:nth-child(2) { margin-left: unset; background-color: #121212;}
    .card   { margin: 0 .5rem; width: unset; }


    /*/// DESKTOP ABOUT ME ///*/
    .aboutMeAboutMe >*  { margin-bottom: .2rem; }
    .skills             { display: grid; grid-template-columns: auto auto auto; }
    .skills h3          { font-size: 1.5rem; margin-top: 0;}
    .skills.subHeading { margin-top: 0;}
    .skillsList         { padding-left: 2vw; display: flex; flex-direction: column; }
    .skill              { width: calc(100% - .5rem); }


    /*/// DESKTOP MY WORK ///*/
    .innerContainer img { position: absolute; height: auto; width: auto; min-width: 100%;}


    /*/// BRIGHT FUTURE ///*/
    .brightFuture       { height: 150vh; }
    .brightFuture >* { position: absolute; font-size: 2.5rem;}
    .brightFuture img { width: 40vw; }

    #brightFuture   { right: 0; left: 0; text-align: center; top: 65vh; font-size: 4rem;}

    #dogGIF         { display: block; width: 20rem; }
    #family         { top: 4rem; left: 20rem; }
    #dogs           { top: 9rem; left: 22rem; }
    #love           { top: 14rem; left: 18rem; }
    #friends        { top: 18rem; left: 10rem; }

    #coffeeGIF      { right: 0; transform: translateX(15vw); top: 30vh; width: 20rem;}
    #programming    { top: 12rem; left: 38rem; }
    #web            { top: 18rem; left: 33rem; }
    #design         { top: 25rem; left: 35rem; }
    #game           { top: 30rem; left: 44rem; }

    #dancingSVG     { top: 70vh; left: -5rem; width: 40rem; }
    #guitar         { top: 37rem; left: 35rem; }
    #dancing        { top: 41rem; left: 40rem; }
    #singing        { top: 45rem; left: 37rem; }

    #meditatingSVG  { right: 0; bottom: 3rem; width: 15rem; animation: meditate 10s ease infinite;}
    #selfImprovement{ top: 52rem; right: 2rem; }
    #education      { top: 57rem; right: 16rem; }
    #career         { top: 62rem; right: 18rem; }

    #chillSVG       { bottom: -2rem;  width: 15rem;}
    #chill          { bottom: 3vh; left: 16rem; }

    @keyframes jiggle {
        50% {
            left: -4rem
        }
        100% {
            left: -5rem;
        }
    }
    @keyframes meditate {
        30%     { bottom: 5rem; }
        50%     { bottom: 4rem; }
        60%     { bottom: 6rem; }
        100%    { bottom: 3rem; }
        
    }

    /*/// FOOTER ///*/
}